<!DOCTYPE html>

<html>
    <head>
        <title>Add Schedule</title>
    </head>

    <body>

        <div>Page Created: <span id="page-created-ts">The time stamp</span></div>

        <form id="schedule-add-form" name="schedule-add-form" action="/schedules/add" method="post">

            <div id="schedule-name-div">
                <label for="schedule-name">Name:</label>
                <input type="text" name="schedule-name" id="schedule-name"/>
            </div>

            <div id="schedule-desc-div">
                <label for="schedule-desc">Description:</label>
                <input type="text" name="schedule-desc" id="schedule-desc"/>
            </div>

            <div id="cron-expr-div">
                <label for="cron-expr">Cron Expression:</label>
                <input type="text" name="cron-expr" id="cron-expr"/>
            </div>

            <div id="action-div">
                <input type="submit" value="Submit" />
            </div>

            <div id="errors">
                <ul id="error-list">
                   <li class="error">First error.</li>
               </ul>
            </div>

        </form>

    </body>
</html>
