tr.schedule-row {
  cursor: pointer;
}

tr.job-row {
  cursor: pointer;
}

tr.workflow-row {
  cursor: pointer;
}

div.bottom-justify {
  position: absolute;
  bottom: 0;
}

div.hidden {
  visibility: hidden;
}

div.visible {
  visibility: visible;
}

#workflow-toolbar {

}

/*
#workflow-designer-job-explorer {
  position: absolute;
  left: 0;
  width: 295px;
}

#workflow-design-area {
  position: absolute;
  left: 300px;
  width: 80%;
  height: 100%;
  border-style: solid;
  border-color: white;
}

*/

#workflow-design-area {
  border-style: solid;
  border-color: white;
  height: 100%;
}

.available-node {
 cursor: move;
}


button.rm-node-btn {
  position: absolute;
  top: 0%;
  right: 0%;
}
