tr.schedule-row {
  cursor: pointer;
}

tr.job-row {
  cursor: pointer;
}

div.bottom-justify {
  position: absolute;
  bottom: 0;
}

div.hidden {
  visibility: hidden;
}

div.visible {
  visibility: visible;
}
