tr.agent-row {
  cursor: pointer;
}

tr.schedule-row {
  cursor: pointer;
}

tr.job-row {
  cursor: pointer;
}

tr.workflow-row {
  cursor: pointer;
}

div.bottom-justify {
  position: absolute;
  bottom: 0;
}

div.hidden {
  visibility: hidden;
}

div.visible {
  visibility: visible;
}

#workflow-toolbar {

}

/*
#workflow-designer-job-explorer {
  position: absolute;
  left: 0;
  width: 295px;
}

#workflow-design-area {
  position: absolute;
  left: 300px;
  width: 80%;
  height: 100%;
  border-style: solid;
  border-color: white;
}

*/

#workflow-visualization-area {
  border-style: solid;
  border-color: #FFDEAD;
  height: 100%;
}


#execution-visualization-area {

  border-style: solid;
  border-color: #FFDEAD;
  height: 100%;
}






/*
  Required CSS for the jquery ui timepicker add on
  https://github.com/trentrichardson/jQuery-Timepicker-Addon
*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }







