<html>
  <head></head>
  <body>

    <div id="agents-list">
      <table class="table table-condensed table-hover table-striped">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Created</th>
        </thead>
        <tbody>
          <tr data-agent-id="1" class="agent-row">
            <td class="agent-id">ID for agent</td>
            <td class="agent-name">Name for agent 1</td>
            <td class="create-ts">2014-01-16</td>
          </tr>
          <tr data-agent-id="2" class="agent-row">
            <td class="agent-id">ID for agent</td>
            <td class="agent-name">Name for agent 2</td>
            <td class="create-ts">2014-01-16</td>
          </tr>
        </tbody>
       </table>
     </div>


    <div id="agent-edit">
      <form id="agent-save-form" role="form" class="form-horizontal">
        <fieldset>
          <legend>Agent Definition</legend>
          <input type="hidden" name="agent-id" id="agent-id" value=""/>

          <div class="form-group">
            <label for="agent-id-lbl" class="col-lg-2 control-label">ID</label>
            <div class="col-lg-10">
              <label class="control-label text-left" id="agent-id-lbl">34</label>
            </div>
          </div>

          <div class="form-group">
            <label for="agent-name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="agent-name" id="agent-name"/>
            </div>
          </div>

        </fieldset>
      </form>

      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="button" class="btn btn-default" name="save-btn" id="save-btn">Save</button>
        </div>
     </div>

    </div> <!-- agent-edit-div -->

  </body>
</html>
