<form id="job-save-form" class="form-horizontal">
  <fieldset>
    <legend>Job Definition</legend>

    <input type="hidden" name="job-id" id="job-id" value=""/>

    <div class="control-group">
      <label class="control-label" for="job-id-lbl">ID</label>
      <div class="controls">
        <label class="control-label text-left" id="job-id-lbl">34</label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="job-name">Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="job-name" id="job-name"/>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="job-desc">Description</label>
      <div class="controls">
        <textarea class="span4" rows="2" name="job-desc" id="job-desc"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="job-execution-directory">Execution Directory</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="job-execution-directory" id="job-execution-directory"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="job-command-line">Command Line</label>
      <div class="controls">
        <textarea class="span4" rows="2" name="job-command-line" id="job-command-line"/>
      </div>
    </div>

    <div class="control-group">
      <label class="checkbox" for="is-enabled">Enabled</label>
      <div class="controls">
        <input type="checkbox" id="is-enabled" name="is-enabled"/>
      </div>
    </div>

  </fieldset>
</form>

<button type="button" class="btn" name="save-btn" id="save-btn">Save</button>

    <div id="errors">
        <ul id="error-list">
           <li class="error">First error.</li>
        </ul>
    </div>
