<html>
  <head> </head>
  <body>

    <li id="execution-list-item" class="list-group-item"></li>

    <table id="currently-executing-table">
      <tr id="currently-executing-row" data-execution-id="134" data-vertex-id="88" class="execution-row">
        <td class="execution-id">134</td>
        <td class="vertex-id">88</td>
        <td class="node-name">Job 42 Name</td>
        <td class="node-start">13:23:12.001 March 27 2013</td>
      </tr>
    </table>

    <table id="execution-errored-table">
      <tr id="execution-error-row" data-execution-id="134" data-vertex-id="42" class="execution-row">
        <td class="execution-id">134</td>
        <td class="vertex-id">88</td>
        <td class="node-name">Job 42 Name</td>
        <td class="node-start">13:23:12.001 March 27 2013</td>
        <td class="node-finish">13:28:39.627 March 27 2013</td>
        <td class="node-error-message">Something bad happened.</td>
      </tr>
    </table>


    <table id="execution-finished-table">
      <tr id="execution-successful-row" data-execution-id="134" data-vertex-id="42" class="execution-row">
        <td class="execution-id">134</td>
        <td class="vertex-id">134</td>
        <td class="node-name">Job 42 Name</td>
        <td class="node-start">13:23:12.001 March 27 2013</td>
        <td class="node-finish">13:28:39.627 March 27 2013</td>
      </tr>
    </table>

  </body>
</html>
