<form id="schedule-assoc-form" role="form" class="form" class="form-horizontal">
  <fieldset>
      <legend>Schedule Associations</legend>
      <input type="hidden" name="job-id" id="job-id" value=""/>
      <div id="schedule-assoc-div">
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <input type="checkbox" value="1" name="schedule-id">
            <label>Schedule Name</label>
          </div>
        </div>
      </div>

      <div class="form-group">
         <div class="col-lg-offset-2 col-lg-10">
           <button type="button" class="btn btn-default" name="save-btn" id="save-assoc-btn">Save</button>
         </div>
        <label id="save-assoc-msg-label"></label>
      </div>
  </fieldset>
</form>
