<table class="table table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Job Name</th>
      <th>Job Enabled</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr data-job-id="1" class="job-row">
      <td class="job-id">ID for job 1</td>
      <td class="job-name">Job Name 1</td>
      <td class="job-is-enabled">true</td>
      <td class="job-trigger-now">
        <button type="button" class="btn btn-default btn-sm">Trigger</button>
      </td>
    </tr>
    <tr data-job-id="2" class="job-row">
      <td class="job-id">ID for job 2</td>
      <td class="job-name">Job Name 2</td>
      <td class="job-is-enabled">false</td>
      <td class="job-trigger-now">
        <button type="button" class="btn btn-default btn-sm">Trigger</button>
      </td>
    </tr>
  </tbody>
</table>
