<html>
  <head></head>
  <body>

    <!-- Node Schedule Assoc -->
    <ul class="list-group" id="node-schedules-list" data-node-id="32">
      <li class="list-group-item" id="node-schedule-23">
        <label>Schedule Name</label>
        <button type="button" class="close">&times;</button>
      </li>
    </ul>

    <li class="list-group-item" id="single-node-schedule-assoc-item">
      <label>Schedule Name</label>
      <button type="button" class="close">&times;</button>
    </li>

    <!-- Node Alert Assoc -->
    <ul class="list-group" id="node-alerts-list" data-node-id="32">
      <li class="list-group-item" id="node-alert-23">
        <label>Alert Name</label>
        <button type="button" class="close">&times;</button>
      </li>
    </ul>

    <li class="list-group-item" id="single-node-alert-assoc-item">
      <label>Alert Name</label>
      <button type="button" class="close">&times;</button>
    </li>
    
  </body>
</html>
