<table>
  <thead>
    <tr>
        <th>Schedule ID</th>
        <th>Schedule Name</th>
        <th>Schedule Desc</th>
        <th>Cron Expr</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr class="schedule-row">
      <td class="schedule-id">ID for schedule 1</td>
      <td class="schedule-name">Name for schedule 1</td>
      <td class="schedule-desc">Description for schedule 1</td>
      <td class="cron-expr">Cron expression</td>
      <td class="created-at">2013-09-23</td>
    </tr>
    <tr class="schedule-row">
      <td class="schedule-id">ID for schedule 2</td>
      <td class="schedule-name">Name for schedule 2</td>
      <td class="schedule-desc">Description for schedule 2</td>
      <td class="cron-expr">Cron expression 2</td>
      <td class="created-at">2013-09-29</td>
    </tr>
  </tbody>
</table>
<div id="action-div">
    <a href="/schedules/add">Add</a>
</div>
