<html>
    <head></head>
    <body>


        <div id="schedule-associations">
            <h5 id="node-name">Job name<h5>
            <form id="schedule-assoc-form" role="form" class="form" class="form-horizontal">
                <fieldset>
                  <legend>Schedule Associations</legend>
                  <input type="hidden" name="node-id" id="node-id" value=""/>
                  <div id="schedule-assoc-div">
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                        <input type="checkbox" value="1" name="schedule-id">
                        <label>Schedule Name</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                       <button type="button" class="btn btn-default" name="save-btn" id="save-assoc-btn">Save</button>
                       <div id="assoc-save-success" class="alert alert-success">Saved!</div>
                     </div>
                  </div>
               </fieldset>
            </form>
        </div>



    </body>
</html>

