<html>
    <head></head>
    <body>

      <div id="workflow-visualizer">

          <form id="workflow-save-form" role="form" class="form-inline">
            <input type="hidden" name="workflow-id" id="workflow-id" value="-1" />

            <div class="form-group">
              <label for="workflow-name" class="control-label col-sm-2">Name:</label>
              <div class="col-sm-4">
                <input id="workflow-name" name="workflow-name" type="text" placeholder="Workflow Name" class="input-sm"/>
              </div>
            </div>

            <div class="form-group">
              <label for="workflow-desc" class="control-label col-sm-2">Desc:</label>
              <div class="col-sm-4">
                <input id="workflow-desc" name="workflow-desc" type="text" placeholder="Description" class="input-sm"/>
              </div>
            </div>

            <label "checkbox-inline">
                <input type="checkbox" id="workflow-is-enabled" name="is-enabled"> Enabled
            </label>

            <a href="#" role="button" id="workflow-save-action" class="btn btn-default" name="workflow-save-btn">Save</a>
            <a href="#" role="button" id="view-assoc-schedules" class="btn btn-default">View Schedules</a>
            <div id="workflow-save-success" class="alert alert-success">Saved!</div>
          </form>


        <div id="workflow-schedule-associations">
        </div>

          <div class="row">
            <!-- This is the job/workflow list on the left -->
            <div id="workflow-visualizer-node-explorer" class="col-md-3"> </div>

            <div id="workflow-visualization-area" class="col-md-9">
                  <!--
                      workflow visual area
                      workflow-node elements will exist here
                    -->
                </div>
          </div>

        </div>



        <!-- workflow explorer displayed on left -->
        <div id="workflow-visualizer-node-tree" class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Available Jobs/WFs</h3>
            </div>
            <div class="panel-body">
                <ul id="workflow-visualizer-nodes-list" class="list-group">
                  <li data-node-id="123" id="123" class="list-group-item available-node">Job 1</li>
                  <li data-node-id="34" id="34" class="list-group-item available-node">Job 2</li>
                </ul>
            </div>
      </div>



        <!-- workflow node -->
      <div class="workflow-node" id="workflow-node">
        <button id="delete-node-id-1" type="button" class="close rm-node-btn">&times;</button> <!-- For designer only -->
        <p/>
        <div class="workflow-node-item-name">Job 1</div>
            <p>
                <div class="ep-designer-fail" id="ep-fail-node-id-1" data-node-id="123" data-node-exit="fail"></div>
                <div class="ep-designer-success" id="ep-success-node-id-1" data-node-id="123" data-node-exit="success"></div>
             </p>
        </div>
      </div>


        <!-- workflow list -->
      <div id="workflow-list">
        <table class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Enabled</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr data-workflow-id="1" class="workflow-row">
              <td class="workflow-id">ID for workflow 1</td>
              <td class="workflow-name">Workflow Name 1</td>
              <td class="workflow-is-enabled">true</td>
              <td class="workflow-trigger-now">
                <button type="button" class="btn btn-default btn-sm">Trigger</button>
              </td>
            </tr>
            <tr data-workflow-id="2" class="workflow-row">
              <td class="workflow-id">ID for workflow 2</td>
              <td class="workflow-name">Workflow Name 2</td>
              <td class="workflow-is-enabled">true</td>
              <td class="workflow-trigger-now">
                <button type="button" class="btn btn-default btn-sm">Trigger</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>


<!-- For indicating the status of nodes on the execution visualizer -->
    <span id="execution-status-success" class="glyphicon glyphicon-ok"></span>
    <span id="execution-status-fail" class="glyphicon glyphicon-warning-sign"></span>
    <span id="execution-status-running" class="glyphicon glyphicon-flash"></span>
    <span id="execution-wf-open" class="glyphicon glyphicon-zoom-in"></span>


    <div id="execution-visualizer">
      <div class="panel panel-default">
        <div class="panel-body">
          <label for="execution-id">Execution:</label>
          <span id="execution-id">1234</span>

          <label for="workflow-name">Workflow:</label>
          <span id="workflow-name">Important Workflow</span>

          <label for="executon-status">Status:</label>
          <span id="execution-status">Successful</span>

          <label for="start-ts">Start:</label>
          <span id="start-ts">2013-12-07 20:42:32</span>

          <label for="finish-ts">Finish:</label>
          <span id="finish-ts">2013-12-07 20:42:44</span>

          <a id="execution-abort-action" href="#">Abort</a>

        </div> <!-- panel-body -->
      </div> <!-- panel-default -->

      <div id="execution-breadcrumb-div">
      </div>

      <div id="execution-vertices-info" class="panel-group">
      </div> <!-- execution-vertices-info -->

      <div id="execution-visualization-area">
        <!-- this is where the nodes and connections are displayed -->
      </div>

      </div> <!-- execution-visualizer -->




      <ol id="execution-breadcrumb" class="breadcrumb">
        <li><a href="#">Workflow 1</a></li>
        <li><a href="#">Workflow 2</a></li>
      </ol>



<!-- BEGIN Execution Vertices Details table -->
     <table id="execution-vertices-table" class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th>Instance ID</th>
              <th>Name</th>
              <th>Status</th>
              <th>Start</th>
              <th>Finish</th>
              <th>Actions</th>
          </thead>
          <tbody id="execution-vertices-tbody">
              <tr>
                <td class="execution-vertex-id">42</td>
                <td class="execution-vertex-name">Some job name</td>
                <td class="execution-vertex-status">Successful</td>
                <td class="execution-vertex-start">25 May 2034</td>
                <td class="execution-vertex-finish">25 May 2034</td>
                <td class="execution-vertex-actions">
                  <a class="execution-abort-action" href="#">Abort</a>
                  <a class="execution-resume-action" href="#">Resume</a>
                </td>
              </tr>
          </tbody>
        </table>
<!-- END Execution Vertices Details table -->

<!-- Execution node template -->
    <div id="execution-node" class="workflow-node">
        <div class="node-execution-status">
          <span id="execution-status-node-id-1" class="glyphicon"></span>
        </div>
        <p/>
        <div class="workflow-node-item-name">Job 1</div>
        <p>
           <div class="ep-exec-visualizer-fail" id="ep-fail-node-id-1" data-node-id="123" data-node-exit="fail"></div>
           <div class="ep-exec-visualizer-success" id="ep-success-node-id-1" data-node-id="123" data-node-exit="success"></div>
        </p>
        <div class="drill-down-execution-node">
           <span class="glyphicon glyphicon-zoom-in"></span>
        </div>
    </div>

</body>
</html>
