<html>
    <head></head>
    <body>

        <div id="workflow-designer">

          <form id="workflow-save-form" role="form" class="form-inline">
                  <input type="hidden" name="workflow-id" id="workflow-id" value="-1" />

                  <label for="workflow-name" class="control-label">Name</label>
                  <input id="workflow-name" name="workflow-name" type="text" placeholder="workflow name"/>

                  <label for="workflow-desc" class="control-label">Desc</label>
            <input id="workflow-desc" name="workflow-desc" type="text" placeholder="workflow desc"/>

                    <div class="checkbox">
                        <label>
                          <input type="checkbox" id="workflow-is-enabled" name="is-enabled"> Enabled
                        </label>
                    </div>

                <a href="#" role="button" id="workflow-save-action" class="btn btn-default" name="workflow-save-btn">Save</a>
            <div id="workflow-save-success" class="alert alert-success">Saved!</div>
          </form>

          <div class="row">
            <!-- This is the jobs list on the left -->
                <div id="workflow-designer-job-explorer" class="col-md-3"> </div>

                <div id="workflow-design-area" class="col-md-9">
                  <!--
                      workflow visual area
                      workflow-node elements will exist here
                    -->
                </div>
          </div>

        </div>



        <!-- workflow explorer displayed on left -->
        <div id="workflow-designer-job-tree" class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Available Jobs</h3>
            </div>
            <div class="panel-body">
                <ul id="workflow-designer-jobs-list" class="list-group">
                    <li data-job-id="123" id="123" class="list-group-item available-job">Job 1</li>
                    <li data-job-id="34" id="34" class="list-group-item available-job">Job 2</li>
                </ul>
            </div>
        </div>


        <!-- workflow node -->
      <div class="workflow-node" id="workflow-node">
        <button id="delete-job-id-1" type="button" class="close rm-node-btn">&times;</button>
        <p/>
        <div class="workflow-node-job-name">Job 1</div>
            <p>
                <div class="ep-fail" id="ep-fail-job-id-1" data-job-id="123" data-job-exit="fail"></div>
                <div class="ep-success" id="ep-success-job-id-1" data-job-id="123" data-job-exit="success"></div>
             </p>
        </div>
      </div>


        <!-- workflow list -->
      <div id="workflow-list">
        <table class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Enabled</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr data-workflow-id="1" class="workflow-row">
              <td class="workflow-id">ID for workflow 1</td>
              <td class="workflow-name">Workflow Name 1</td>
              <td class="workflow-is-enabled">true</td>
              <td class="workflow-trigger-now">
                <button type="button" class="btn btn-default btn-sm">Trigger</button>
              </td>
            </tr>
            <tr data-workflow-id="2" class="workflow-row">
              <td class="workflow-id">ID for workflow 2</td>
              <td class="workflow-name">Workflow Name 2</td>
              <td class="workflow-is-enabled">true</td>
              <td class="workflow-trigger-now">
                <button type="button" class="btn btn-default btn-sm">Trigger</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>



    </body>
</html>
