<html>
    <head></head>
    <body>

        <!-- sample workflow layout -->
        <div id="workflow-designer">

            <div class="w" id="window1">
                <div id="j1">Job 1</div>
                <p/>
                <div class="ep-fail" id="ep-fail-1"></div>
                <div class="ep" id="ep1"></div>
            </div>

            <div class="w" id="window2">
                <div id="j2">Job two</div>
                <p/>
                <div class="ep-fail" id="ep-fail-2"></div>
                <div class="ep" id="ep2"></div>
            </div>

            <div class="w" id="window3">
                <div id="j3">Job three</div>
                <p/>
                <div class="ep-fail" id="ep-fail-3"></div>
                <div class="ep" id="ep3"></div>
             </div>
      </div>
        <!-- end sample workflow layout -->

    </body>
</html>
